<template>
    <div class="product">
      <span v-text="name" class="name"></span>
      <ul>
        <li class="color"
          v-for="(color, index) in colors"
          :key="index">
          <span class="box" 
            v-bind:class="color"
          ></span>
        </li>
      </ul>
    </div>
</template>

<script>
  export default {
    name: 'Product',
    props: {
      name: String,
      colors: Array,
    },
  }
</script>
