<template>
    <div>
        <form 
            class="product_form"
            @submit.prevent="addProduct(name.trim(), colors)"
        >
            <div class="field">
                <label for="name" class="field_label">Name</label>
                <input 
                    autocomplete="off"
                    placeholder="Enter name"
                    type="text" 
                    name="name"
                    class="input"
                    v-bind:class="{ input_error: errors.first('name')}"
                    v-model="name"
                    v-validate="{ 
                        required: true, 
                        regex: /^([a-zA-Z0-9])*$/m, 
                        min: 4, 
                        max: 8 
                    }" 
                >
                <small class="field_text_error" v-show="errors.has('name')">{{ errors.first('name') }}</small>
            </div>

            <div class="field">
                <span class="color">
                    <input 
                        type="checkbox" 
                        value="red" 
                        name="colors"
                        v-model="colors"
                        v-validate="{ required: true }"
                    >
                    <label for="red">red</label>
                    <span class="box red"></span>
                </span>

                <span class="color">
                    <input 
                        type="checkbox" 
                        value="green" 
                        name="colors"
                        v-model="colors"
                    >
                    <label for="green">green</label>
                    <span class="box green"></span>
                </span>

                <span class="color">
                    <input 
                        type="checkbox" 
                        id="blue" 
                        value="blue" 
                        name="colors"
                        v-model="colors"
                    >
                    <label for="blue">blue</label>
                    <span class="box blue"></span>
                </span>

                <small class="field_text_error" v-show="errors.has('colors')">{{ errors.first('colors') }}</small>
            </div>

            <button 
                type="submit"
                class="button button_primary"
                v-bind:class="{ button_loading: loading}"
                :disabled="loading"
            >
                Add
                <span class="spinner"></span>
            </button> 
        </form>
    </div>
</template>

<script>
export default {
  name: 'ProductForm',
  data: () => ({
    name: '',
    colors: ['red'],
    loading: false,
  }),
  methods: {
    addProduct(name, colors) {
      this.$validator.validateAll().then((result) => {
        if (result) { 
            this.loading = true;  
            setTimeout(() => { this.loading = false; }, 1200);  
            return this.$store.dispatch('addProduct', {
                name: name,
                colors: colors,
            });
        }
      });
    },
  },
}
</script>
