<template>
  <section>
    <ul class="product_list">
      <li class="product_list_item"
        v-for="(product, index) in products"
        :key="index"
      >
        <Product
          :name="product.name"
          :colors="product.colors"
        />
        <button class="button button_danger" @click="deleteProduct(product)">Delete</button>
      </li>
    </ul>
    <section v-show="products.length" class="product_summary">
      <span>
        Summary: 
        <strong>{{ products.length }}</strong>
      </span>
    </section>

    <section v-show="!products.length" class="product_none">
      There are no records. Add product in  <router-link to="product-form">ProductForm</router-link>
    </section>

  </section>
</template>

<script>
import { mapActions } from 'vuex'
import Product from './Product.vue'

export default {
  name: 'ProductList',
  computed: {
    products () {
      return this.$store.state.products
    },
  },
  components: { Product },
  methods: {
    ...mapActions([
      'deleteProduct'
    ]),
  }
}
</script>
