<style lang="scss">
  @import "./scss/index.scss";
</style>

<template>
  <section class="product-app">

    <div class="row">
      <router-link to="product-form" 
        class="row__col link link_theme_primary"
        v-bind:class="{ link_state_active: $route.path === '/product-form'}"
      >
        Go to ProductForm
      </router-link>

      <router-link to="product-list" 
        class="row__col link link_theme_primary"
        v-bind:class="{ link_state_active: $route.path === '/product-list'}"
      >
        Go to ProductList
      </router-link>
    </div>

    <div class="row">
      <router-view class="row__col"></router-view>
    </div>

  </section>
</template>
