.button {
    outline: 0;
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;

    &.button_primary {
        color: $color_fff;
        background-color: $color_1890ff;
        border-color: $color_1890ff;
        &:hover {
            background-color: $color_3542f5;
            background-color: $color_3542f5;
        }
    }
    &.button_danger {
        color: #f5222d;
        background-color: #f5f5f5;
        border-color: #d9d9d9;
        &:hover {
            color: #fff;
            background-color: #ff4d4f;
            border-color: #ff4d4f;
        }
    }
    &.button_loading {
        padding-right: 26px;

        .spinner {
            opacity: 1;
        }
    }

    @keyframes spinner {
        to {transform: rotate(360deg);}
      }          
    .spinner {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        right: 4px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: $color_fff;
        border-bottom-color: $color_fff;
        animation: spinner .8s ease infinite;
        opacity: 0;
    }

}