$color_314659: #314659;
$color_1890ff: #1890ff;
$color_3542f5: #3542f5;

$color_fff: #fff;
$color_e9e9ef: #e9e9ef;
$color_e6f7ff: #e6f7ff;
$color_f8f8ff: #f8f8ff;
$color_e8e8e8: #e8e8e8;
$color_e9e8f2: #e9e8f2;

$color_f22435: #f22435;
$color_008000: #008000;
$color_4899ef: #4899ef;