
    .field {
        margin-bottom: 1em;

        .field_label {
            font-weight: 600;
            display: block;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
        }
    
        .field_text_error {
            color: $color_f22435;
            display: block;
            font-size: 0.75em;
        }

        .input {
            margin-bottom: 0.5em;
            padding: 0.5em 0.75em;
            width: 100%;
            min-width: 260px;
            outline: none;
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            background-color: $color_fff;
            line-height: 1.3;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-color: $color_e9e8f2;
            
            &.input_error{
                border-color: $color_f22435;
            }
        }
    }

    .color {
        margin-bottom: 0.5em;
        padding: 6px 18px 6px 0;

        .box {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            vertical-align: super;
            margin-left: 4px;
            &.red {
                background-color: $color_f22435;
            }
            &.green {
                background-color: $color_008000;
            }
            &.blue {
                background-color: $color_4899ef;
            }
        }
    }