@import 'colors';
@import 'grid';

@import 'link';
@import 'field';
@import 'button';
@import 'list';

.product-app {
    color: $color_314659;

    .product_form {
        border: 1px solid $color_e8e8e8;
        width: fit-content;
        padding: 4% 6%;
        margin: 2% auto;
    }
}