.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: lh(14px, 18px);
    text-decoration: none;
    user-select: none;
    outline: 0 none;
    padding: 12px;
  } 

  .link_theme_primary {
    color: $color_314659;
    background-color: $color_f8f8ff;
    border-right: solid 4px $color_e9e9ef;
    transition: color 0.3s;
    &:not(.link_state_active):hover {
      color: $color_1890ff;
      background-color: $color_e6f7ff;
      border-right: solid 4px $color_1890ff;
    }
  }
  .link_state_active{
      color: $color_1890ff;
      background-color: $color_e6f7ff;
      border-right: solid 4px $color_1890ff;
  }