.product_list {
    list-style-type: none;
    margin: auto;
    padding: 0 4%;
    display: block;
    width: max-content;

    .product_list_item {
        padding: 8px;
        border-bottom: solid 1px $color_e9e9ef;

        .product {
            display: inline-flex;

            .name {
                min-width: 74px;
                margin: auto;
            }

            ul { 
                list-style-type: none; 
                display: inherit;
            }

            .color {
                margin: auto;

                .box {
                    vertical-align: middle;
                }
            }
        }

        button {
            float: right;
        }
    }
}

.product_summary, .product_none {
    margin: auto;
    width: fit-content;
    padding: 2%;
}